/* PADRÃO PARA TODAS AS PAGINAS DE FORMULARIOS SO SITE
   ========================================================================== */

.formulario {
	.container {
		.subtitulo {
			color: #5D5D5D;
			font-size: 20px;
			font-weight: bold;
		}
		form {
			.row {
				.box {
					.submit {
						margin-top: 20px;
						height: 41px;
						line-height: 41px;
						.btn-rounded;
						.color-light;

						.waves-button-input {
							width: 100%;
							height: 100%;
							outline: none;
						}
					}

					.file-field {
						.btn {
							height: 41px;
							line-height: 41px;
							margin-top: 6px;
						}
					}
				}
			}
		}

		#mapa {
	        margin-top: 100px;

	        iframe {
	            width: 100%;
	            height: 450px;
	            border: none;
	        }
    	}
	}
}

@media (max-width: 768px) {
	.formulario {
		.container {
			.subtitulo {
				text-align: center;
				margin: 20px 0;
			}

			form {
				.row {
					.box {
						padding: 10px 0;

						.submit {height: 45px;}
					}
				}
			}
		}
	}
}
