#galeria {
	.container {
		.row {
			div {
				padding: 0px 20px;
				margin-bottom: 25px;
				p {
					text-align: center;
					font-family: "kamerik", Arial, sans-serif;
					color: #000;
				}
				a {
					&:hover {
						figcaption { opacity: 1; }
					}
					figure {
						margin-bottom: 20px;
						.relative;
						font-weight: bold;

						img {
							max-width: 100%;
							height: auto;
							margin: auto;
							display: block;

						}
						figcaption {
							width: 100%;
							height: 100%;
							top: 0;
							left: 0;
							display: block;
							position: absolute;
							text-align: center;
							opacity: 0;
							transition: opacity 0.5s linear;
							z-index: 3;
							background-color: rgba(0, 0, 0, 0.5);
							padding: 10px;

							p {
								width: 100%;
								height: 100%;
								display: table;
								border: 1px solid white;

								span {
									display: table-cell;
									vertical-align: middle;
									.uppercase;
									color: #fff;
									font-size: 20px;
								}
							}
						}
	       			}
				}
			}
		}
	}
}
