#institucional {
	.container {
		.row {
			.box {
				//padding: 10px 40px;
				margin-bottom: 20px;
				font-size: 16px;

				div {
					margin-bottom: 40px;
					h2 {
						//font-family: "kamerik", Arial, sans-serif;
						text-transform: none;
						font-size: 25px;
						text-align: center;
						margin-bottom: 40px;

					}
				}
			}
		}
	}
}


@media (max-width: 768px) {
	#institucional {
		.container {
			.row {
				.box {
					padding: 10px 0px;
					text-align: center;
				}
			}
		}
	}
}
