#album {
	.interna {
		.row {
			.imagem-album {
				margin: 15px 0;

				.ratio {
					.content {
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;

						a {
							img {vertical-align: middle;}
						}
					}
				}
			}
		}
	}
}